body{
    display:flex;
    flex-direction: column;
    background-color: whitesmoke;
    align-items: center;
}
#playingArea{
    height: 420px;
    width: 420px;
    background-color:#9b5de5;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 11px;
    border-radius: 10%;

}
.boxes{
    height:120px ;
    width:120px ; 
    background-color:#00f5d4;
    border-radius: 10%;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color:red;
    

}
#reset{
background-color: chocolate;
color: aliceblue;
margin-top: 40px;
width: 120px;
height:60px;
border-radius: 50%;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#newGame{
  border-radius: 0;
  background-color: green;
  width:120px;
  height:60px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
h2{
    text-shadow: 2px 2px 2px #000;
    font-family: fantasy;
}
#mode {
width: 100px;
height:30px;
margin-bottom: 10px;
;

}